@page "/"

<PageTitle>Home</PageTitle>

<h1>Smart Paste デモ</h1>

<form>
    <div class="form-group">
        <label for="companyName">会社名</label>
        <input class="form-control" id="companyName" @bind="CompanyName" />
    </div>
    <div class="form-group">
        <label for="lastName">姓</label>
        <input class="form-control" id="lastName" @bind="LastName" />
    </div>
    <div class="form-group">
        <label for="firstName">名</label>
        <input class="form-control" id="firstName" @bind="FirstName" />
    </div>
    <div class="form-group">
        <label for="productName">商品名</label>
        <input class="form-control" id="productName" @bind="ProductName" />
    </div>
    <div class="form-group">
        <label for="email">メールアドレス</label>
        <input class="form-control" id="email" @bind="Email" />
    </div>
    <button type="button" class="btn btn-primary">AI を使って貼り付け</button>
</form>

@code {
    private string CompanyName { get; set; } = "";
    private string FirstName { get; set; } = "";
    private string LastName { get; set; } = "";
    private string ProductName { get; set; } = "";
    private string Email { get; set; } = "";
}